<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">

    <!-- If the user is logged in, the "brand link" redirects to the Shrink a Link page -->
    <% if ( userInfo !== undefined ) { %>
      <a class="navbar-brand" href="/urls/new">ShrinkMe</a>
    <!-- If the user is not logged in, "brand link" redirects to a login splash page -->
    <% } else { %>
      <a class="navbar-brand" href="/">ShrinkMe</a>
    <% }; %>

    <!-- Sets the button for the responsive navigation ber -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Page Links -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">

        <!-- if the user is logged in, Shrink A Link & My Links show in the nav bar -->
        <% if ( userInfo !== undefined ) { %>
        <li class="nav-item">
          <a class="nav-link" href="/urls/new">Shrink A Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/urls">My Links</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <span class="navbar-text">Logged in as: <%=userInfo.email%></span>
        </li>
        <li class="nav-item">
          <form method="POST" action="/logout">
            <button class="btn btn-outline-primary my-2 my-sm-0 ml-3" type="submit">Logout</button>
          </form>
        </li>
      </ul>

      <!-- if the user is not logged in, Login and Register links show in the nav bar -->
      <% } else { %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
      <% }; %>
    </div>
  </div>
</nav>